<h1>ToDo's Page!!!</h1>

<table> 
    <tr>
        <th>User</th>
        <th>Title</th>
        <th>Status</th>
    </tr>
    <% todos.forEach(function(info) { %>
        <tr>
            <td><%= info['userId'] %></td>
            <td><%= info['title'] %></td>
            <td><%= info['completed'] %></td>
        </tr>
  <%  }) %>
</table>


<% for (var i=0; i < )  %> 